/* * + * {
  margin: 1em 0 0;
} */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
}
main {
  margin-bottom: 150px;
}
/* MEDIA QUERY STYLES */
@media screen and (max-width: 480px) {
  main .cardSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
/* CUSTOM CSS DESIGNING FROM HERE */
.logo {
  text-align: center;
  border-bottom: 4px solid black;
}
body header .logo svg {
  width: 365px;
  height: auto;
  padding: 15px 0;
}
/* NAV/LINK STYLE */
header nav {
  text-align: center;
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  border-top: 4px solid black;
}
header a {
  flex: auto;
}
header a:link {
  color: black;
}
header a:visited {
  color: initial;
}
.navHome:hover,
.navBookmark:hover,
.navUser:hover {
  background-color: chartreuse;
}
header nav a div {
  text-align: center;
  font-size: 36px;
  padding: 15px 0;
  flex: auto;
}

/* CARD STYLE */
.cardSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  position: relative;
  border: 2px solid black;
  z-index: 1;
  max-width: 325px;
  width: 80%;
}
.cardBookmark {
  /* text-align: end; */
  position: absolute;
  right: 5px;
  top: -15px;
  z-index: 10;
  color: red;
  font-size: 50px;
  border: none;
  background-color: white;
  padding: 0;
}
.cardBookmark i {
  background-color: white;
}
.quizTitle {
  font-size: 25px;
  text-align: center;
  padding: 0 10px;
  margin-top: 55px;
}

.answerButton {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #4caf50; /* Green */
  border-radius: 10px;
  border: 0;
  color: white;
  padding: 10px 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 80px;
}
.answerButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.hideButton {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #4caf50; /* Green */
  border-radius: 10px;
  border: 0;
  color: white;
  padding: 10px 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 80px;
}
.hideButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* CARD TAGS SECTION */
.cardTagsSection {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  padding-bottom: 5px;
}
.cardTagsTitle p {
  font-size: 20px;
}
.cardTags ul {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 10px;
}
.tag {
  margin: 0 2px;
  padding: 4px 10px;
  color: #fff;
  background: #999;
  font-size: 70%;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.cardTags a:hover {
  text-decoration: underline;
}
.yellow {
  background-color: goldenrod;
}
.blue {
  background-color: royalblue;
}
.green {
  background-color: seagreen;
}
.red {
  background-color: #df2d4f;
}
