.card-section__card__bookmark {
  position: absolute;
  right: -18px;
  top: -20px;
  padding: 0;
  border: none;
  font-size: 50px;
  color: #00ffff;
  background-color: transparent;
  transition: all 90ms ease-in-out;
}
.card-section__card__bookmark:active {
  scale: 1.3;
}
.card-section__card__bookmark--saved {
  color: #d40000;
}
.card-section__card__bookmark:hover {
  cursor: pointer;
}
